<html>
  <body>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Book</th>
          <th>From</th>
          <th>To</th>
        </tr>
      </thead>
    
      <tbody>
          <tr>
            <td><%= @rent.id %></td>
            <td><%= @book.title %></td>
            <td><%= @rent.from %></td>
            <td><%= @rent.from %></td>
          </tr>
      </tbody>
    </table>  
</body>
</html>